*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
    border: 1px solid blue;
    background-color: lightsalmon;
    color: blue;
}

button {
    background: rgb(28, 184, 65);
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.resultsClass:nth-of-type(odd) {
    background: #e0e0e0;
    width: 303px;
    margin-left: 0px
}

